@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-black: #0a0a0a;

  --bg-general: #ffffff;
  --bg-homepage: #fbfbfc;
  --bg-presse: #fbfbfc;
  --bg-chat: #fbfbfc;

  --bg-user-chat: #2a2a31;
  --bg-ai-chat: #eceef2;

  --bg-login: #28282d;
  --bg-input: #eceef2;

  --bg-button-primary: #803cda;
  --bg-button-secondary: #f5f5f7;
  --bg-button-chat: #cacad5;

  --text-main: #0a0a0a;
  --text-sub: #717182;
  --text-white: #ffffff;

  --bg-neutral-light: #e5e5ef;
}

/* Reset global */
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-general);
  color: var(--text-main);
  font-family: system-ui, sans-serif;
}
